mixin sidebar-info(mode, text, url, id)
    div.sidebar-info(id=`hint_${id}`)
        figure(class=`sidebar-info__${mode}-block`)
            if mode === 'image'
                return
                    img(src=url class='sidebar-info__image')
                    figcaption.sidebar-info__figcaption!=text
            else
                return
                figcaption.sidebar-info__figcaption!=text
