include ../../components/head/head
include ../../components/footer/footer
include ../../components/fotorama/fotorama
mixin icon()
    svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
        path(fill="none" d="M0 0h24v24H0V0z")
        path(fill="#D0021B" d="M14 6l-1-2H5v17h2v-7h5l1 2h7V6h-6zm4 8h-4l-1-2H7V6h5l1 2h5v6z")

mixin camera()
    svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
        path(d="M0 0h24v24H0z" fill="none")
        path(fill="#D0021B" d="M17 10.5V7c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1v-3.5l4 4v-11l-4 4z")

mixin book()
    svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
        path(d="M0 0h24v24H0z" fill="none")
        path(fill="#D0021B" d="M18 2H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 4h5v8l-2.5-1.5L6 12V4z")

mixin music()
    svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
        path(fill="none" d="M0 0h24v24H0z")
        path(fill="#D0021B" d="M12 3v10.55c-.59-.34-1.27-.55-2-.55-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4V7h4V3h-6z")

mixin slider-card(avatar, title, year, pelevin, real)
    div.fudji__card
        div.fudji__card-avatar
            img(src=avatar)
        div.fudji__card-title
            div.fudji__card-year=year
            h3=title
        div.fudji__card-content
            div.fudji__card-content-col
                h4 В книге
                p=pelevin
            div.fudji__card-content-col
                h4 В реальности
                p=real
doctype html
html
    +head(
    'валентина горшкова × артём сошников',
    'рецензия на роман виктора пелевина «тайные виды на гору фудзи»',
    'https://ic.pics.livejournal.com/valerongrach/21518748/1192539/1192539_900.jpg',
    'article',
    'https://fonts.googleapis.com/css?family=Lora&amp;subset=cyrillic'
    )
body.body_light
    +fotorama()
    div.fudji
        div.fudji__header
            div.fudji__header-title
                a.fudji__header-link(href="https://t.me/stranitca17") Страница 17
                span ×
                a.fudji__header-link(href="https://t.me/zvonimentam") Автономный Хипстер
            div.fudji__header-headline
                h1 Две стороны одной морали
            div.fudji__header-description
                span
                    a.fudji__header-link(href="https://t.me/stranitca17") Валентина Горшкова
                    = ' '
                    | и
                    = ' '
                    a.fudji__header-link(href="https://t.me/zvonimentam") Артём Сошников
                    = ' '
                    | рассказывают о новом романе Виктора Пелевина «Тайные виды на гору Фудзи»
        div.fudji__content
            div.fudji__content-data
                p Пелевин нас обманул.
                p На первый взгляд в его новом романе «Тайные виды на гору Фудзи» нет ничего принципиально нового: Пелевин по-прежнему опирается на свои классические темы (буддизм и рефлексию по 90-м), добавляя к ним трендовые — селф-хелп, #meetoo и стартапы. Новые темы и скандал, спровоцированный Пелевиным в литературной среде за неделю до релиза, увели внимание от основного мотива: в «Тайных видах на гору Фудзи» Пелевин как и прежде осуждает мещанство и сверх-потребление.
                p Мотив проявляется не сразу — сначала может показаться, что все герои просто хотят стать счастливыми. Три российских олигарха вкладываются в стартап из Сколково, который обещает открыть клиентам новые уровни удовольствий. Главному герою Федору предлагают реконструировать прошлое и вновь встретиться со школьной любовью Таней. Таня, бывшая эскортница и содержанка, и сама не против вернуться в жизнь олигарха — ради этого она уже читает сэлф-хэлп литературу и учится манипулировать мыслями на расстоянии.
            div.fudji__dop
                div.fudji__dop-content
                    +music()
                    p Действия героев часто привязаны к музыке, Пелевин и сам не стесняется цитировать то Боно, то Елену Ваенгу.
                        =" "
                        a(href="https://www.youtube.com/playlist?list=PL71IJ35n29GdhRwBLptyR0SGEdKqAi1Yz") Здесь
                        =" "
                        | можно послушать плейлист из всех песен, что упоминались в книге.
            div.fudji__content-data
                p Но на этот раз Пелевин промахивается с трендами. Герои выглядят неактуально, олигархов средней руки забыли несколько расследований Навального назад. Не удалась и пародия на стартапы — по сути, в романе нет никакой технологичности, да и Сколково уже несколько лет не ассоциируется с передовыми разработками. Феминизм даёт больше поводов для тонкой иронии, чем простодушное высмеивание волосатых подмышек. Реальность, в которой живут герои Пелевина, отдает неестественностью, складывается устойчивое впечатление, что автор, давно живущий за границей, познает российскую действительность через Фейсбук.
            div.fudji__dop
                div.fudji__dop-content
                    +icon()
                    h4 Как Пелевин предугадывал тренды в ключевых романах:
                    div.fotorama(data-width="100%" data-height="380px")
                        +slider-card('https://static.tildacdn.com/tild3738-6630-4631-b939-336630303063/Generation____.jpg', 'Generation «П»', '1999', '#реклама, #телевидение, #политика', 'В стране меняется власть, активно развивается сфера рекламы')
                        +slider-card('https://static.tildacdn.com/tild3932-3964-4336-b265-353236323939/Viktor_Pelevin__Shle.jpg', 'Шлем ужаса. Креатифф о Тесее и Минотавре', '2005', '#интернет-чаты', 'Слово «рунет» входит в словарь Розенталя, становится популярен «олбанский язык»')
                        +slider-card('https://static.tildacdn.com/tild3330-3234-4332-a632-613161626539/_Snuff.jpg', 'S.N.U.F.F.', '2011', '#конфликт-с-украиной, #гомофобия, #роль-сми', 'Ухудшаются отношения с Украиной, появляется термин «хохлосрач»')
                        +slider-card('https://static.tildacdn.com/tild6638-3935-4961-b636-633462323565/Batman_Apollo.jpg', 'Бэтман Аполло', '2013', '#протесты, #политкорректность, #путин-вор»', 'Возникает протестное движение 2012-го года, в обиход входит мем «Путин — вор»')
                        +slider-card('https://static.tildacdn.com/tild3465-3166-4535-a532-353065646135/1011374154.jpg', 'Любовь к трём цукербринам', '2014', '#VR, #соц.сети, #интернет-зависимость, #культ-потребления, #терроризм, #дауншифтинг', 'За два года совершено более 10-ти громких терактов. Люди отказываются от офисной работы и меняют профессию.')
                        +slider-card('https://static.tildacdn.com/tild3532-6465-4565-a265-346433306535/IPhuck_10.jpg', 'iPhuck 10', '2014', '#искусственный-интеллект', 'Apple выпускает Siri')
            div.fudji__content-data
                p Трендовые промахи и отвлекают наше внимание от главного месседжа: никто из героев на самом деле не хочет стать лучшей версией себя, все желают исключительно удовольствий. Ни олигархи, ни наложница Таня не отказываются от изначальных намерений, выходя из привычной и комфортной среды, они любой ценой пытаются вернуться обратно.
                p Но Пелевин и сам намеренно уводит нас в сторону. В этом году он добавил огня в ежегодные и уже довольно вялые рассуждения на тему «тот Виктор Олегович или уже не тот» — до релиза автор разрешил прочесть роман только критикам Анне Наринской и Галине Юзефович. Профессиональное сообщество оскорбилось и публично повыясняло отношения.
            div.fudji__dop
                div.fudji__dop-content
                    +camera()
                    h4 Хроника медийного скандала вокруг Пелевина
                    iframe(width="100%" height="315" src="https://www.youtube.com/embed/QLpzRea4UBg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            div.fudji__content-data
                p Мы никогда не узнаем, преследовал ли Пелевин корыстные цели, искусственно создавая ажиотаж вокруг книги, — и в таком случае его морализаторство про жажду материальных удовольствий выглядит смешно — либо он в очередной раз поиздевался над литературными критиками, которых, судя по реакции, провокация сильно задела.
                p Задела, но не всех:
                iframe(width="100%" height="315" src="https://www.youtube.com/embed/EUTE0-rzXp0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            +footer()
